{% extends "base.html" %}

{% load django_static thumbnail %}

{% block pagetitle %}Our games{% endblock %}

{% block extracss %}
<style type="text/css">
#introtext {
  margin: 30px 0 10px 0;	
}

#introtext p {
  font-size: 22px;
  font-weight: 100;
  padding: 0 20px;
  margin: 0;	
}

#list {
  float: left;
  width: 900px;
  margin: 20px 0 0 0;	
}

#list .cat {
  width: 100%;
  float: left;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 25px 25px;
  margin: 0 0 20px 0;
  border-bottom: 3px dotted #e1e1e1;
}

.cat .image {
  float: left;
  font-size: 38px;
  font-weight: bold;
  width: 200px;
  margin: 0 30px 0 0;
  height: 100%;
  padding: 0 30px 0 0;
  border-right: 1px solid #e1e1e1;	
  position: relative;
}

.cat .games {
  float: left;
  width: 630px;	
}

.games .game {
  float: left;
  width: 195px;	
  height: 280px;
  margin: 0 20px 20px 0;
  position: relative;
}

.games .game.last {
  margin-right: 0;	
}

.game p {
  font-size: 14px;	
}

.game .button {
  float: left;
  margin-top: 10px;	
  position: absolute;
  bottom: 0;
  width: 140px;
}

.game .more {
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 10px;	
}

span.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
}

span.link:hover {
  cursor: pointer;	
}

.game h4 {
  font-size: 22px;
  margin: 15px 0 0;
  color: #D95600;	
}

.game:hover h4, .game:hover .more  {
    color: #2691BE;
    text-decoration: underline;
}

.game:hover img {
  opacity: 0.8;	
}

.game p {
  margin: 0;	
}
</style>
{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}



{% block content %}
<div id="introtext">{{ shopsettings.games_page_intro_text|safe }}</div>

<div id="list">
{% for c in categories %}
	<div class="cat">
		
		<div class="image">
			{% if c.image %}
			{% thumbnail c.image "200" crop="" as im %}
				<img src="{{ im.url }}"/>
			{% endthumbnail %}	
			{% else %}
				{{ c.name }}
			{% endif %}
			
		</div>
		<div class="games">
			{% for g in c.get_games %}
				<div class="game {% cycle 'last' '' '' %}">
					<a href="{% url game g.slug %}"><span class="link"></span></a>
					{% thumbnail g.image "195x180" crop="" as im %}
						<img src="{{ im.url }}"/>
					{% endthumbnail %}
					<h4>{{ g.name }}</h4>
					{{ g.short_description|safe }}
				</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}