{% extends "base.html" %}

{% load django_static thumbnail %}

{% block pagetitle %}Our games{% endblock %}

{% block extracss %}
<style type="text/css">
h1 {
  font-size: 75px;
  margin: 20px 0 40px;	
}

#introtext {
  margin: 0px 0 10px 0;	
}

#introtext p {
  font-size: 22px;
  font-weight: 100;
  padding: 0;
  margin: 0;	
  color: #D95600;
}

#promo-image {
  width: 500px;
  float: right;
  margin: 10px 0 30px 40px;	
}

#playnow {
  float: right;
  position: relative;
  top: 15px;	
}

a.button {
  font-size: 30px;
  padding: 10px 35px;
  margin: 10px 0 10px 0;
  float: left;	
}
</style>
{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}



{% block content %}
					
	{% if game.direct_link %}
		<div id="playnow">
			{% if game.is_free_game %}
			<a class="button grey" target="_blank" href="{{ game.direct_link }}">Play now &raquo;</a>
			{% else %}
			<a class="button" target="_blank" href="{{ game.direct_link }}">Get it now &raquo;</a>
			{% endif %}
			
			<p style="font-size: 12px; margin-top: 20px; color: #666;">
				<strong>Price:</strong> {% if price %}{{ game.price }}{% else %}FREE{% endif %} <span style="color: #c1c1c1">&nbsp; | &nbsp;</span> 
				{% if game.genre.all %}<strong>Genre:</strong> {% for genre in game.genre.all %}{{ genre }}{% if not forloop.last %} / {% endif %}{% endfor %}{% endif %}
			</p>		
		</div>
	{% endif %}


<h1>{{ game.name }}</h1>



{% if game.big_promo_image %}
	<div id="promo-image">
		{% thumbnail game.big_promo_image "500" crop="" as im %}
			<img src="{{ im.url }}"/>
		{% endthumbnail %}
	</div>
{% endif %}



<div id="introtext">{{ game.description|safe }}</div>

{{ game.body|safe }}

{% endblock %}