{% extends "base.html" %}

{% load django_static thumbnail %}

{% block pagetitle %}Our games{% endblock %}

{% block extracss %}
<style type="text/css">
#introtext {
  margin: 30px 0 10px 0;	
}

#introtext p {
  font-size: 22px;
  font-weight: 100;
  padding: 0 20px;
  margin: 0;	
}

#list {
  float: left;
  width: 900px;
  margin: 20px 0 0 0;	
}

#list .cat {
  width: 100%;
  float: left;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 25px 25px;
  margin: 0 0 20px 0;
  border-bottom: 3px dotted #e1e1e1;
}

.cat .image {
  float: left;
  font-size: 38px;
  font-weight: bold;
  width: 200px;
  margin: 0 30px 0 0;
  height: 100%;
  padding: 0 30px 0 0;
  border-right: 1px solid #e1e1e1;	
  position: relative;
}

.cat .games {
  float: left;
  width: 630px;	
}

.games .game {
  float: left;
  width: 180px;	
  height: 280px;
  margin: 0 30px 20px 0;
  position: relative;
}

.game p {
  font-size: 14px;	
}

.game .button {
  float: left;
  margin-top: 10px;	
  position: absolute;
  bottom: 0;
  width: 140px;
}

.game .link {
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 10px;	
}

.game h4 {
  font-size: 22px;
  margin: 15px 0 0;
  color: #D95600;	
}

.game p {
  margin: 0;	
}
</style>
{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}



{% block content %}
<div id="introtext">{{ shopsettings.games_page_intro_text|safe }}</div>

<div id="list">
{% for c in categories %}
	<div class="cat">
		
		<div class="image">
			{% if c.image %}
			{% thumbnail c.image "200" crop="" as im %}
				<img src="{{ im.url }}"/>
			{% endthumbnail %}	
			{% else %}
				{{ c.name }}
			{% endif %}
			
		</div>
		<div class="games">
			{% for g in c.get_games %}
				<div class="game">
				{% thumbnail g.image "180x180" crop="" as im %}
					<img src="{{ im.url }}"/>
				{% endthumbnail %}
				<h4>{{ g.name }}</h4>
				{{ g.short_description|safe }}
					{% if g.direct_link %}
						<a class="button" href="{{ g.direct_link }}">Play now!</a>
					{% else %}
						<a class="link" href="{% url game g.slug %}">Find out more &raquo;</a>
					{% endif %}
					
				</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}