{% extends "base.html" %}

{% load django_static thumbnail  %}

{% block pagetitle %}Home{% endblock %}

{% block extracss %}
<style type="text/css">
#feature {
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin: 0 0 40px 0;
    padding: 30px 30px 0;
    float: left;
    width: 900px;
    text-align: right;
}

#feature #image {
  float: left;
  width: 550px;	
  margin: 15px 0 0;
}

#feature #text {
  float: right;
  width: 320px;	
}

#feature h1 {
  float: left;	
  margin: 0;
}

#feature p#desc {
  font-size: 16px; 
  float: left;	
}

#feature a.button {
  margin: 0;
  float: right;
  font-size: 18px;
  padding: 16px 22px 14px;
  color: #000;	
background: rgb(232,135,32); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(232,135,32,1) 0%, rgba(201,89,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,135,32,1)), color-stop(100%,rgba(201,89,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(232,135,32,1) 0%,rgba(201,89,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(232,135,32,1) 0%,rgba(201,89,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(232,135,32,1) 0%,rgba(201,89,4,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(232,135,32,1) 0%,rgba(201,89,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e88720', endColorstr='#c95904',GradientType=0 ); /* IE6-9 */

}

#promo {
  padding: 10px 40px;	
  float: left;
  width: 900px;
}

#promo p {
  font-size: 18px;
  font-weight: bold;	
  float: right;
  width: 500px;
  font-weight: 100;
}

#promo ul {
  float: left;
  width: 250px;	
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  color: #2691be;
  list-style-type: none;
  line-height: 2.5em;
  margin: 0;
}

#games {
  padding: 10px 20px;
  float: left;
  width: 900px;
  margin: 30px 0 0 0;	
}

#games .game {
  padding: 15px;
  float: left;
  margin: 0 20px 3px 0;	
  width: 250px;
  height: 300px;
  border: 1px solid #fff;
  box-shadow: 0 1px 3px #999;
  background-color: #EFF9FC;
}

#games .game:last-child {
  margin-right:0;	
}

#games .game:hover {
  cursor: pointer;	
  
}

#games .game h3 {
  margin: 15px 0 5px 0px;
  color: #D95600;	
  text-shadow: 0 1px 1px #fff;
}

.game .text p {
  font-size: 13px;
  margin: 0 0 5px 0;		
}
</style>
{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}



{% block content %}
<div id="feature">
  <div id="image">
  	{% thumbnail shopsettings.homepage_feature_image "550" crop="" as im %}
  		<img src="{{im.url }}"/>
  	{% endthumbnail %}
  </div>
  <div id="text">
	{{ shopsettings.homepage_promo_text|safe }}
	<a class="button" href="{% url games %}">Browse our games now &raquo;</a>
  </div>
</div>

<div id="promo">
	{{ shopsettings.homepage_intro_text|safe }}
</div>

<div id="games">
	{% for g in featured_games %}
	<div class="game">
		{% thumbnail g.image "250" crop="" as im %}
			<img src="{{ im.url }}"/>
		{% endthumbnail %}
		<h3>{{ g.name }}</h3>
		<div class="text">{{ g.short_description|safe }}
		<p><a href=""><strong>Find out more &raquo;</strong></a></p>
		</div>
	</div>
	{% endfor %}
</div>



{% endblock %}