{% extends "base.html" %}

{% load django_static thumbnail  %}

{% block pagetitle %}Home{% endblock %}

{% block extracss %}
<style type="text/css">
#feature {
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin: 0 0 20px 0;
    padding: 30px 0px 0;
    float: left;
    width: 900px;
    text-align: left;
}

#feature #image {
  float: left;
  width: 900px;	
  margin: 15px 0 10px;
}

#feature #text {
  float: left;
  width: 600px;	
}

#feature h1 {
  float: left;	
  margin: 0;
  width: 600px;
}

#feature p#desc {
  font-size: 16px; 
  float: left;	
}

#feature a.button {
  margin: 15px 0 0;
  float: right;
  font-size: 24px;
  padding: 16px 35px 14px;
  color: #fff;	
  border-radius: 5px;
  text-shadow: 0 1px 1px #000;

}

#promo {
  padding: 30px 40px;	
  float: left;
  width: 900px;
}

.icon {
  float: left;
  margin-right: 30px;	
}

.icon h3 {
  margin: 8px 0 0 0px;
  width: 100%;
  font-size: 14px;
  color: #104B7F;
  text-align: center;	
}

#promo p {
  font-size: 18px;
  font-weight: bold;	
  float: right;
  width: 500px;
  font-weight: 100;
  margin: 0;
}

#promo ul {
  float: left;
  width: 250px;	
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  color: #2691be;
  list-style-type: none;
  line-height: 2.5em;
  margin: 0;
}

#games {
  padding: 10px 0px;
  float: left;
  width: 960px;
  margin: 30px 0 0 0;	
}

#games .game {
  padding: 15px;
  float: left;
  margin: 0 20px 3px 0;	
  width: 185px;
  height: 235px;
  border: 1px solid #fff;
  box-shadow: 0 1px 3px #999;
  background-color: #EFF9FC;
  position: relative;
}

#games .game:last-child {
  margin-right:0;	
}

#games .game:hover {
  cursor: pointer;	
  border: 1px solid #a1ddef;
}

.game h3 {
  margin: 15px 0 5px 0px;
  color: #D95600;	
  text-shadow: 0 1px 1px #fff;
}

.game .text p {
  font-size: 13px;
  margin: 0 0 5px 0;		
}

.game a.button {
  position: absolute;
  bottom: 15px;
  padding: 6px 30px 4px;
}

span.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;	
}

.game:hover h3 {
  color: #2691BE;
  text-decoration: underline;	
}
</style>
{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}



{% block content %}
<div id="feature">
  <div id="image">
  	{% thumbnail shopsettings.homepage_feature_image "960" crop="" as im %}
  		<img src="{{im.url }}"/>
  	{% endthumbnail %}
  </div>
  <div id="text">
	{{ shopsettings.homepage_promo_text|safe }}
  </div>
  <a class="button" href="{% url games %}">Browse games &raquo;</a>
</div>

<div id="promo">
	<div class="icon">
		<img src="{% staticfile '/images/develop.png' %}"/>
		<h3><a href="/develop/">Develop</a></h3>
	</div>
	<div class="icon">
		<img src="{% staticfile '/images/publish.png' %}"/>
		<h3><a href="/publish/">Publish</a></h3>
	</div>
	<div class="icon">
		<img src="{% staticfile '/images/channel.png' %}"/>
		<h3><a href="/channel/">Channel</a></h3>
	</div>

	{{ shopsettings.homepage_intro_text|safe }}
</div>

<div id="games">
	{% for g in shopsettings.homepage_featured_games.all %}
	<div class="game">
		<a href="{% url game g.slug %}"><span class="link"></span></a>
		{% thumbnail g.image "185" crop="" as im %}
			<img src="{{ im.url }}"/>
		{% endthumbnail %}
		<h3>{{ g.name }}</h3>
		<div class="text">
			{{ g.short_description|safe }}
		</div>
	</div>
	{% endfor %}
</div>



{% endblock %}