{% extends "base.html" %}

{% load django_static thumbnail %}

{% block pagetitle %}{{ flatpage.title }}{% endblock %}

{% block extracss %}
<style type="text/css">
.right {
  float: right;
  width: 350px;
  background-color: #e9f7fb;
  padding: 25px;
  font-size: 14px;	
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.right h3 {
  margin: 0 0 10px 0;
  font-size: 22px;
  text-shadow: 0 1px 1px #fff;	
}

.right p {
  margin: 0 0 20px 0;	
}

.left {
  float: left;
  width: 450px;	
}

.left p {
  margin: 0 0 20px 0;	
}

</style>
{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}



{% block content %}

<h1>{{ flatpage.title }}</h1>

{{ flatpage.content|safe }}

{% endblock %}